#section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block:6vh;
    text-align: center;
    font-family: 'Quattrocento Sans';
    gap: 3vh;
    & h2{
        font-size: 40px;
        font-weight: 600;
    }

    & .list{
        display: flex;
        flex-wrap: wrap;
        gap: 5vw;
        font-size: 25px;

        & p{
            margin: auto;
        }
    }
}