#section1{
    height: fit-content;
    display: flex;
    background: linear-gradient(to bottom, #584082, #3f2b60);
    position: relative;
    padding-block: 30px;
    overflow: hidden;
    width: 100vw;

    .container{
        width: 95%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: auto;
        max-height: 60vh;
        border-radius: 20px;
        box-shadow: 0 0 8px 0px black;
        overflow: hidden;
        position: relative;

        & img{
            object-fit: cover;
            position: relative;
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
        }

        .header{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 10%;
            font-weight: 600;
            right: 5%;
            width: 40%;

            & .text{
                font-size: 50px;
                text-align: right;
                text-shadow: 0 0 10px black;
                color: whitesmoke;
                margin-bottom: 0;
            }

            & .bottom{
                width: 100%;
                height: fit-content;
                justify-content: flex-end;
                display: flex;
                margin: auto;

                & a{
                    text-decoration: none;
                    font-size: 22px;
                    display: flex;
                    gap: 10px;
                    position: relative;
                    height: fit-content;
                    width: fit-content;
                    background-color: white;
                    padding: 8px;
                    justify-content: center;
                    text-align: center;
                    align-items: center;
                    padding-inline: 14px;
                    border-radius: 10px;
                    border: none;
                    color: #584082;
                    cursor: pointer;
                    box-shadow: inset 0px -3px 0px 0px #584082;
                    transition: 300ms;

                    &:hover{
                        box-shadow: inset 0px -50px 0px 0px #584082;
                        color: whitesmoke;
                    }

                    & span{
                        margin: auto;
                        height: fit-content;
                    }
                }
            }
        }
    }

}