#section1{
    height: fit-content;
    background-color: #4C3672;
    padding-bottom: 10px;
    padding-top: 70px;
    position: relative;

    .container{
        width: 100%;
        height: fit-content;
        max-height: 65vh;
        overflow: hidden;
        position: relative;

        & img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            filter: brightness(0.7);
        }

        .header{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            top: 10%;
            font-weight: 600;
            right: 5%;
            color: whitesmoke;
            width: 40%;
            font-size: 50px;
            text-align: right;
            text-shadow: 0 0 10px black;
        }
    }

}