#service-section1{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding: 2%;
    padding-inline:4%;
    position: relative;
    animation: flow-left 1s ease 0s 1 alternate;

    & h2{
        font-size: 50px;
        font-family: 'Outfit';
        color: #4C3672;
        width: fit-content;
    }

    & p{
        font-size: 20px;
        width: 70%;
        font-family: 'Khula';
    }
}

@keyframes flow-left {
    0%{
        left:-20%;
        opacity: 0;
    }
    100%{
        left:0%;
        opacity: 1;
    }
}