#alert{
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    animation: notify 5s ease-in-out 0s 1 forwards;

    & .message{
        background-color: #26183bc0;
        height: fit-content;
        margin: auto;
        font-size: 15px;
        border-radius: 10px;
        padding: 12px;
        width: fit-content;
        color: white;
        margin: 1vh;

        & p{
            height: fit-content;
            margin: 0;
        }
    }
}

@keyframes notify {
    0%{
        top:-40%;
    }
    20%{
        top: 0%;
    }
    80%{
        top:0%;
    }
    100%{
        top:-40%;
    }
}