#main{
    z-index: 10;
    height: calc(100% + 70px);
    height: 100%;
    width: 100%;
    margin-bottom: 50px ;
    background-color: rgb(238, 238, 248);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    & #form{
        justify-content: center;
        align-items: center;
        position: relative;
        background: linear-gradient(to top,#563F7D, #3A2E4E);
        border-radius: 10px;
        height: fit-content;
        overflow: hidden;
        padding-inline: 5%;
        padding-block:2%;
        box-shadow: 0 0 10px 0px black;
        
        & p{
            color: whitesmoke;
            width: fit-content;
            margin-inline: auto;
            position: relative;
        }

        & .name-tag{
            width:fit-content;
            margin-inline:auto;
            font-size: 22px;
            font-weight:400;
            font-family: 'Outfit';
            color: whitesmoke;
        }

        & .info{
            width: fit-content;
            margin-inline: auto;
        }

        & .react-calendar{
            border:none;
            border-radius: 10px;
            width:90%;
            max-width:500px;
            overflow: hidden;
            box-shadow: 0 0 5px 0 black;
            margin-inline:auto;
            opacity: 0;
            animation: schedule-In 800ms ease 100ms 1 forwards;
            position: relative;

            & .react-calendar__tile, .react-calendar__month-view__days__day{
                transition: 100ms;
                font-family: 'Outfit';
            }
    
            & .react-calendar__month-view__days{
                display:flex;
                flex-wrap: wrap;
    
                & .react-calendar__tile:nth-child(7n-6), .react-calendar__tile:nth-child(7n-2), .react-calendar__tile:nth-child(7n-4){
                    cursor:not-allowed;
                    pointer-events: none;
                    color: rgb(235, 61, 61);
                    
                    & abbr{
                        text-decoration: line-through;
                    }
                }

                /* <button class="react-calendar__tile react-calendar__tile--active react-calendar__tile--range react-calendar__tile--rangeStart react-calendar__tile--rangeEnd react-calendar__tile--rangeBothEnds react-calendar__month-view__days__day react-calendar__month-view__days__day--weekend" type="button" style="flex: 0 0 14.285714%; overflow: hidden; margin-inline-end: 0px;"><abbr aria-label="27 January 2024">27</abbr></button> */
                & .react-calendar__month-view__days__day--weekend{
                    color: black;
                }

                & .react-calendar__tile--active{
                    color: whitesmoke;
                }
    
            }
         }

         & .first-text{
            opacity: 0;
            position: relative;
            animation: schedule-In 800ms ease-out 250ms 1 forwards;
         }
         & .second-text{
            opacity: 0;
            position: relative;
            animation: schedule-In 800ms ease-out 350ms 1 forwards;
         }

         & .selectedDate{
            background-color: white;
            color:black;
            width:fit-content;
            margin-inline: auto;
            margin-bottom: 0;
            padding: 10px;
            font-family: 'Outfit';
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            font-weight: 400;
            opacity: 0;
            position: relative;
            animation: schedule-In 800ms ease-out 450ms 1 forwards;
         }

         & .time-selection{
            display: flex;
            gap: 10px;
            font-size: 22px;
            margin: auto;
            height: fit-content;
            width: fit-content;
            background-color: white;
            padding: 10px;
            padding-inline: 20px;
            border-radius: 10px;
            opacity: 0;
            position: relative;
            animation: schedule-In 800ms ease-out 450ms 1 forwards;

            & p{
                font-family: 'Outfit';
                height:fit-content ;
                color: rgb(21, 21, 21);
                margin: auto;
            }

            & input{
                height:fit-content ;
                margin: auto;
                font-size: 18px;
                border: none;
                background-color: whitesmoke;
            }

            #timezone{
                height:fit-content ;
                margin: auto;
                font-size: 18px;
                border: none;

                & option{
                    font-size: 30px;
                }
            }
         }

         & .submit-btn{
            margin-inline: auto;
            width: fit-content;
            background-color: rgb(131, 84, 168);
            box-shadow: inset 0px -30px 0px 0px whitesmoke;
            color: black;
            font-weight: 600;
            font-size: 18px;
            padding: 4px;
            padding-inline:12px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 200ms;
            margin-block: 20px;
            opacity: 0;
            position: relative;
            animation: schedule-In2 600ms ease-out 1s 1 forwards;

            &:hover{
                box-shadow: inset 0px 0px 0px 0px whitesmoke;
                color: whitesmoke;
            }
         }
    }

    & h1{
        text-align: center;
        color: rgb(63, 24, 78);
        font-size: 32px;
    }

    & .schedule-acc{
        color: rgb(44, 14, 55);
        margin-top: 0px;
        font-size: 22px;
    }
}


@keyframes schedule-In {
    0%{
        top: 20%;
        opacity: 0;
    }
    100%{
        top: 0%;
        opacity: 1;
    }
}

@keyframes schedule-In2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}